Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: 'cpp/include/asterion/.*|cpp/src/.*'
FormatStyle: file
